//If I use any color or font-size multiple times, I do this here

// Color pallets

//Primary Color's

$primary-color: #30475e;
$primary-color-dark: #222831;

//secondary Color

$secondary-color: #f05454;

//neutral colors
$color-black: #000000;
$color-white: #fff;
$color-gray: #dddddd;
$color-gray-dark: #bababa;

//font-size's

$default-size: 1.6rem;

//Ikon stlye
.fab {
  color: $color-white;
}
