.footer {
  display: flex;
  width: 100%;
  position: sticky;
  bottom: 0;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 0 4rem;

  background-color: $color-black;
  color: white;

  &__img {
    width: 10rem;
    padding-top: 1rem;
  }

  &__text {
    font-size: 1.9rem;
    text-transform: uppercase;
  }
}
