.booking {
  display: flex;
  height: 37vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10.3rem;

  &__content {
    flex-wrap: wrap;
    height: 35rem;
    width: 50rem;
    background-color: $primary-color;
    color: $color-white;
    border-radius: 3rem;

    &-top {
      padding-top: 3rem;
      text-align: center;
    }

    &-mid {
      display: inline-flex;
      flex-direction: row;
      gap: 2rem;
      margin: 3rem;
      font-size: 2rem;
      font-family: lato;
    }
  }

  &__img {
    height: 20rem;
    border: 1rem solid $color-white;
    border-radius: 2rem;
  }
}
