.btn {
  &:link,
  &:visited {
    font-family: "Fugaz One", cursive;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
  }

  &__buy {
    position: relative;
    background-color: $primary-color;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $default-size;
    font-family: "Fugaz One", cursive;
    color: $color-white;
    border-radius: 0.3rem;
    padding: 1.5rem 3.5rem;
  }
}

a {
  &:link,
  &:visited {
    font-family: "Fugaz One", cursive;
    text-transform: uppercase;
    text-decoration: none;
  }
}
