.product_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product_container {
  height: 50rem;
  width: 30rem;
  border: $primary-color 1rem solid;
  border-radius: 1rem;
  margin: 2rem;
}

.product_container_text {
  padding: 2rem;
}
.product_container_footer {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product_img {
  padding-top: 1rem;
  width: 100%;
}
